<!DOCTYPE html>
<html>
<head>
{% block head %}
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
{% endblock %}
</head>

<body>
<div class="container">
	<div id="content">{% block content %}{% endblock %}</div>
	<div id="footer">
	    {% block footer %}
	        &copy; '15 <a href="http://emrys.cymru/">em</a>.
	    {% endblock %}
	</div>
</div>
</body>
</html>