{% extends request.ajax ? "base_ajax.html.twig" : "base.html.twig" %}

{% block title page_title|title %}

{% block content %}
    <h1>Start</h1>
    <p class="lead">Is a mixture of smaller framework components better than one large one?</p>
    <ul>
    	<li>Create base framework</li>
    	<li>Create Tests</li>
    	<li>CRUD</li>
    	<li>Speed Tests</li>
    	<li>Backups</li>
    	<li>Restore</li>
    	<li>Size limitations</li>
    </ul>
{% endblock %}